*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --pale-blue: hsl(225, 100%, 94%);
   --bright-blue: hsl(245, 75%, 52%);
   --very-pale-blue: hsl(225, 100%, 98%);
   --desaturated-blue: hsl(224, 23%, 55%);
   --dark-blue: hsl(223, 47%, 23%);
}

body {
   background: url(../images/pattern-background-desktop.svg) no-repeat;
   background-color: var(--pale-blue);
   font-family: "Red Hat Display", sans-serif;
   font-size: 0.8rem;
   min-height: 100vh;
}

main {
   line-height: 1.5;
   text-align: center;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 {
   font-size: 1.25rem;
   margin-top: 2rem;
}

/* REUSE CSS */
.heading {
   color: var(--dark-blue);
   font-weight: 900;
}

.container {
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0px 10px 10px var(--pale-blue);
   height: 35.625rem;
   width: 20.625rem;
}

.hero-img {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   width: 100%;
}

.order-desc {
   color: var(--desaturated-blue);
   padding: 1.25rem 2rem;
}

.plan-section {
   background-color: var(--very-pale-blue);
   border-radius: 10px;
   margin: 0 1.5rem 2rem;
   padding: 0.75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.plan-section a {
   font-weight: 700;
}

.plan-section a:hover {
   opacity: 0.6;
   text-decoration: none;
}

.music {
   display: flex;
   align-items: center;
}

.music img {
   margin-right: 1rem;
}

.btn {
   border: none;
   border-radius: 10px;
   margin-bottom: 0.75rem;
   padding: 1rem;
   width: 85%;
}

.btn:hover {
   cursor: pointer;
}

.pay-btn {
   background-color: var(--bright-blue);
   box-shadow: 0px 15px 5px var(--very-pale-blue);
   color: #fff;
   font-weight: 900;
}

.pay-btn:hover {
   opacity: 0.6;
   transition: 0.3s;
}

.cancel-btn {
   background-color: transparent;
   color: var(--desaturated-blue);
   font-weight: 900;
}

.cancel-btn:hover {
   color: var(--dark-blue);
}

@media screen and (min-width: 800px) {
   body {
      font-size: 1rem;
   }

   h1 {
      font-size: 1.75rem;
   }

   .container {
      height: 43.75rem;
      width: 28.125rem;
   }

   .order-desc {
      padding: 1.25rem 3rem;
   }

   .plan-section {
      padding: 1.25rem;
      margin: 1rem 3rem 3rem;
   }

   .btn {
      width: 78%;
   }
}
